[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
flask = "*"
"autopep8" = "*"
numpy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
